<html>
<body>
<div class="container" style="padding-top:100px; ">
   <div class="d-flex justify-content-center h-100">
       <div class="card"  >
           <div class="card-header">
               <h3>CONTACT US </h3>
              
           </div>
           <div class="card-body">
            <div class="row">
                <div class="col-md-6 form-group">
                  <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-md-6 form-group">
                  <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                 
                </div>
              
              
           </div>
           
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="4"></textarea>
            
          </div>
          <span class="ec ec-joy"></span>
            <div class="card-footer">
              
              <div class="row">
                <button class="btn btn-lg btn-primary btn-block f2" type="submit">send</button>
            </div>
           </div>
       </div>
   </div>
  </div>
</body>
</html>