<div id="menu" style=" width: 100%; height: auto; background-image: url('/assets/img/152379055_2871575143170110_3492477123743600273_n (3)_auto_x2_colored_toned (1).jpg');
    background-size: 100% 100%">
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-top: 450px ; padding-bottom: 80px; padding-left: 10px; padding-right: 2px; ">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active" >
      <div class="container">
        <div class="row" >
          <li *ngFor='let salade of salades; let i=index'  >
          <div class="col-md-4 col-sm-6"  *ngIf=" 3>i">
            
          <div class="card shadow" style="width: 18rem;"  >
              <div class="inner"> 
              <img class="card-img-top" src="{{ salade.img_dish }}"alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Trigger the modal with a button -->
                <a href="/admin"ata-name="Lemon" data-price="5"class="btn btn-primary btn-success col-md-4 add-to-cart" style="width:fit-content" onclick="im()" id="j" >add to cart</a>
                
  <!-- Button trigger modal -->


</div>
</div>

</div>
</li>
  </div>
</div>

  </div>


  <div class="carousel-item ">
    <div class="container">
      <div class="row"  >
        <li *ngFor='let salade of salades; let i=index'  >
        <div class="col-md-4 col-sm-6"  *ngIf="i>=3" >
          
        <div class="card shadow" style="width: 18rem;" >
            <div class="inner"> 
            <img class="card-img-top" src="{{ salade.img_dish }}"alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- Trigger the modal with a button -->
              <a href="/admin"ata-name="Lemon" data-price="5"class="btn btn-primary btn-success col-md-4 add-to-cart" style="width:fit-content" onclick="im()" id="j" >add to cart</a>
              
<!-- Button trigger modal -->


</div>
</div>

</div>
</li>
</div>
</div>

</div>
</div>
 
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>

<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">
          
        </table>
        <div>Total price: $<span class="total-cart"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Order now</button>
      </div>
    </div>
  </div>
</div> 


<nav class="navbar navbar-inverse bg-inverse fixed-top bg-faded" style=" margin-top: 100px;">
  <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button><button class="clear-cart btn btn-danger">Clear Cart</button></div>
  </div>
</nav>




