<div id="menu" style=" width: 100%; height: auto; background-image: url('/assets/img/152379055_2871575143170110_3492477123743600273_n (3)_auto_x2_colored_toned (1).jpg');
    background-size: 100% 100%">
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-top: 450px ; padding-bottom: 80px; padding-left: 10px; padding-right: 2px; ">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active" >
      <div class="container">
        <div class="row" >
          <li *ngFor='let asian of asians; let i=index'  >
          <div class="col-md-4 col-sm-6"  *ngIf=" 3>i">
            
          <div class="card shadow" style="width: 18rem;margin-right: 40px; margin-left:15px"  >
              <div class="inner"> 
              <img class="card-img-top" src="{{ asian.img_dish }}"alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title" id="name">{{ asian.nom_dish }}</h5>

                <p class="card-text">{{ asian.desc_dish }}</p>
                <p class="card-text"   id="price" >{{ asian.price_dish }} dt</p>
                <form   onsubmit="window.location = 'https://www.google.com/maps/search/?api=1&query=' + search.value; return false;">
                  <input  class="card-text"   type="submit" value="{{ asian.adresse_dish }}" id="search" > </form>
                
                <a [attr.data-name]="asian.nom_dish" [attr.data-price]="asian.price_dish" class="btn btn-primary btn-dark col-md-4 add-to-cart" style="width:fit-content;  margin-top: 5px; " onclick="im()" id="j" >add </a>
                
  <!-- Button trigger modal -->


</div>
</div>

</div>
</li>
  </div>
</div>

  </div>

  <div class="carousel-item " >
    <div class="container">
      <div class="row" >
        <li *ngFor='let asian of asians; let i=index'  >
        <div class="col-md-4 col-sm-6"  *ngIf=" i>=3">
          
        <div class="card shadow" style="width: 18rem;margin-right: 40px; margin-left:15px"  >
            <div class="inner"> 
            <img class="card-img-top" src="{{ asian.img_dish }}"alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title" id="nom">{{ asian.nom_dish }}</h5>

              <p class="card-text">{{ asian.desc_dish }}</p>
              <p class="card-text"     >{{ asian.price_dish }} dt</p>
              <form   onsubmit="window.location = 'https://www.google.com/maps/search/?api=1&query=' + search.value; return false;">
                <input  class="card-text"   type="submit" value="{{ asian.adresse_dish }}" id="search" > </form>
              
              <a [attr.data-name]="asian.nom_dish"  [attr.data-price]="asian.price_dish" class="btn btn-primary btn-dark col-md-4 add-to-cart" style="width:fit-content;  margin-top: 5px; " onclick="im()" id="j" >add </a>
              
<!-- Button trigger modal -->


</div>
</div>

</div>
</li>
</div>
</div>

</div>
<div class="carousel-item " >
  <div class="container">
    <div class="row" >
      <li *ngFor='let asian of asians; let i=index'  >
      <div class="col-md-4 col-sm-6"  *ngIf=" i>6">
        
      <div class="card shadow" style="width: 18rem;margin-right: 40px; margin-left:15px"  >
          <div class="inner"> 
          <img class="card-img-top" src="{{ asian.img_dish }}"alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title" id="nom">{{ asian.nom_dish }}</h5>

            <p class="card-text">{{ asian.desc_dish }}</p>
            <p class="card-text"  id="price" >{{ asian.price_dish }} dt</p>
            <form   onsubmit="window.location = 'https://www.google.com/maps/search/?api=1&query=' + search.value; return false;">
              <input  class="card-text"   type="submit" value="{{ asian.adresse_dish }}" id="search" > </form>
            
            <a [attr.data-name]="asian.nom_dish" [attr.data-price]="asian.price_dish" class="btn btn-primary btn-dark col-md-4 add-to-cart" style="width:fit-content;  margin-top: 5px; " onclick="im()" id="j" >add </a>
            
<!-- Button trigger modal -->


</div>
</div>

</div>
</li>
</div>
</div>

</div>
 



</div>
 
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>

<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">
          
        </table>
        <div>Total price: $<span class="total-cart"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Order now</button>
      </div>
    </div>
  </div>
</div> 


<nav class="navbar navbar-inverse bg-inverse fixed-top bg-faded" style=" margin-top: 100px;">
  <div class="row">
      <div class="col">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button><button class="clear-cart btn btn-danger">Clear Cart</button></div>
  </div>
</nav>


