.section3 .hiuser{
    padding: 40px;
    background: #47a5a5!important;
    background: -webkit-linear-gradient(legacy-direction(-45deg),#29276b,#716aca)!important;
    background: linear-gradient(-45deg,#222527,#777673cc)!important;
    color: rgb(236, 230, 230);
    line-height: 3;
}
.section3 .hiuser h3,.section3 .hiuser h3 span{color: #fff}
.section3 .hiuser p{
   color: #ffffffc7;
}
.section3 .flex-container{
  width: 95%;
  margin: -45px auto 0;
}
.section3 .flex-container a[name="dang ky"]{
 background: rgb(184, 176, 176);
 border: none;
 border-radius: 5px;
 padding: .575rem 25px;
 color: #30373b;
 margin-bottom: 30px;
 box-shadow: 1px 1px 5px #000000bf;
 text-decoration: none;
}
.section3 .flex-container .member .delete{display: none;}
.section3 .flex-container .member .delete .overplay{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: #000000bd;
}
.section3 .flex-container .member .delete .choice-delete{
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 background: rgb(245, 242, 242);
 padding: 50px;
 border-radius: 5px;
}
.section3 .flex-container .member .delete .choice-delete i{
 position: absolute;
 right: 20px;
 top: 20px;
 font-size: 20px;
 color: rgb(73, 114, 134);
}
.section3 .flex-container .member .delete .choice-delete button{
 color: rgb(207, 198, 198);
 margin-top: 10px;
 background: #f10000;
 padding: 8px 18px;
 font-size: 16px;
}
.section3 .flex-container .member .delete .choice-delete button:hover{box-shadow: 1px 1px 5px #000000a3;}
.section3 .flex-container .member .delete .choice-delete button:last-child{background: rgb(146, 174, 189)}
.section3 .flex-container a[name="dang ky"]:hover{box-shadow: none;}
.section3 .flex-container .member{text-align: center;}
.section3 .flex-container .member table {width: 100% !important;padding: 30px 0;}
.section3 .flex-container .member table .name-row{height: 40px;background: #191d1f;font-weight: 500; color: rgb(231, 208, 182)}
.section3 .flex-container .member table .name-row th{padding-top: 8px;}
.section3 .flex-container .member table tbody tr{background: rgb(196, 189, 189);}
.section3 .flex-container .member table tbody tr:nth-child(even){background: #ffffff6b;}
.section3 .flex-container .member table tbody tr td{padding: 5px 0;}
.section3 .flex-container .member table tbody tr td textarea{
 padding: 5px;
 border-radius: 5px;
 border: 1px solid rgb(52, 57, 59);
}
.section3 .flex-container .member table tbody tr td button{
   -moz-box-shadow: 0px 10px 7px -7px #276873;
   -webkit-box-shadow: 0px 10px 7px -7px #276873;
   box-shadow: 0px 10px 7px -7px #276873;
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
   background: -moz-linear-gradient(top, #5a656b 5%, #dddfe0 100%);
   background: -webkit-linear-gradient(top, #41b5ff 5%, #1887be 100%);
   background: -o-linear-gradient(top, #41b5ff 5%, #a4aaad 100%);
   background: -ms-linear-gradient(top, #41b5ff 5%, #1887be 100%);
   background: linear-gradient(to bottom, #292b2c 5%, #e0921d 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
   background-color: #bcc1c4;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   cursor: pointer;
   color: #ffffff;
   font-weight: bold;
   padding: 7px 32px;
   border: none;
}
.section3 .flex-container .member table tbody tr td button[name=save]{display: none;}

body{
   padding-top:60px;
}
.s{
   margin-bottom: 20px;
}




.modal-ku {
   width: 750px;
   margin: auto;
   
 }
 modal-dialog {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
 }
 
 .modal-content {
   height: auto;
   min-height: 100%;
   border-radius: 0;
   background-color:#222527ad;
 }

 .modal-header, h4, .close {
   background-color: #333;
   color: #fff !important;
   text-align: center;
   font-size: 30px;
 }
 
 .modal-header, .modal-body {
   padding: 30px 20px;
 }


 #exampleModal{
padding: 5%;

 }
 .modal-backdrop.in {
  opacity:10;
}
.modal-transparent {
   background: transparent;
 }
 .modal-transparent .modal-content {
   background: transparent;
 }
 .modal-backdrop.modal-backdrop-transparent {
   background: #ffffff;
 }
 .modal-backdrop.modal-backdrop-transparent.in {
   opacity: .9;
   filter: alpha(opacity=90);
 }
 

.box{
   color:#cfb285;
}



body{
  background-color: #181c1f8f;
}
@media (max-width: 992px){
  
  
  
}