
<div id="about"> 
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 col-md-8" style="margin-top: 70px;">
            <h2>About Company Page</h2><br>

            <p id="p1">'Foody' is the best relief for workers and seekers of better food experience . And who's better than home made food ? Escaping unhealthiness and the bitterness of junk food . 
              Excellent chefs will be  in the client disposition through our platforms : presenting their tasty meals with a comprehensive description of them . 
              We also offer you the easiest deliverance of food . One click and you have it all ready . A site that combines trust , contact and innovation . A variety of flavors from entrees  to dessert : like magic</p>
            <br><button class="btn btn-default btn-lg">Get in Touch</button>
          </div>
          <div class="col-md-4 col-sm-12">
            <video src="assets/vid/vid1.mp4"  class="floatRightClear floatRight responsive" controls autoplay></video>
          </div>
        </div>
   </div>
   <br>
</div>


