.modal {
    
    width: fit-content ;
   margin:0 auto;

    
  }
  .modal-backdrop {
    z-index: -1;
    display: none; 
    
 
  }
  
.modal-ku {
    width: 750px;
    margin: auto;
  }
  modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

  .modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
  }
  
  .modal-header, .modal-body {
    padding: 30px 20px;
  }


  #exampleModal{
 padding: 5%;

  }
  #exampleModal1{
    padding: 5%;
   
     }
     #exampleModal2{
      padding: 5%;
     
       }
       #exampleModal3{
        padding: 5%;
       
         }
         #exampleModal4{
          padding: 5%;
         
           }
           #exampleModal5{
            padding: 5%;
           
             }
             #exampleModal6{
              padding: 5%;
             
               }
               #exampleModal7{
                padding: 5%;
               
                 }
                 #exampleModal8{
                  padding: 5%;
                 
                   }

                   #exampleModal9{
                    padding: 5%;
                   
                     }
                     

  .modal-backdrop.in {
	opacity:10;
}
.modal-transparent {
    background: transparent;
  }
  .modal-transparent .modal-content {
    background: transparent;
  }
  .modal-backdrop.modal-backdrop-transparent {
    background: #ffffff;
  }
  .modal-backdrop.modal-backdrop-transparent.in {
    opacity: .9;
    filter: alpha(opacity=90);
  }
  .m{
    z-index: -1;
  }
  #button{
    color: rgba(10, 10, 10, 0.767);
    background-color: rgba(223, 211, 211, 0.747);
  }