<div id="menu" style=" width: 100%; height: auto; background-image: url('assets/img/152379055_2871575143170110_3492477123743600273_n (3)_auto_x2_colored_toned (1).jpg');
background-size: 100% 100%; padding-top : 30px ">
<div id="myCarousel" class="carousel slide " data-ride="carousel" style="padding-top: 450px ; padding-bottom: 80px; padding-left: 10px; padding-right: 2px; ">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
  <div class="container">
    <div class="row">
 
      <div class="col-md-4 col-sm-6"  >
      <div class="card shadow" style="width: 18rem;">
          <div class="inner"> 
          <img class="card-img-top"  style="height: 150px;"src="assets/img/download (1).jpeg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title">Tunisian </h5>
            <p class="card-text " style="font-size:12px">The eating joy"the Tunisian kitchen":
              The most coloured,diverse cuisine.Dishes that assert the best homogenous mixtures of spices.Fierce piquant taste and relies on lamb and  vegetables mainly.A combination of turkish, arabic and Mediterranean flavors which is mainly rooted in the multicultural Diva country of  North Africa.Quickly book for the best "tmakhmikha" that would satisfy your greed!</p>
            <!-- Trigger the modal with a button -->
            <a  href="/menuT" type="button" id="button" class="btn btn-primary"  data-backdrop='static' data-keyboard='false'>
                consulter
            </a>

              <div style="width:600px;"> 
                <!-- Modal -->
                
                  </div>
              
<!-- Button trigger modal -->


</div>
</div>
</div>
    
     <div class="col-md-4 col-sm-6 col-">
       <div class="card shadow" style="width: 18rem;">
         <div class="inner">
         <img class="card-img-top" style="height: 150px;" src="assets/img/images (4).jpeg" alt="Card image cap">
     </div>
         <div class="card-body">
           <h5 class="card-title" >Italian</h5>
           <p class="card-text" style="font-size:12px">Lasciatemi cantare:The italian kitchen 
            Feel the italian flag projected in your own plate!White as in Pasta, dough and flour.Red as in tomatoe sauces spicy and light in their texture.Green as in herbs and pepper or perhaps pesto! We offer a lengthy list of various and multicolored masterpieces of pizzas, lasagna and many other regional italian suggestions.A Dense experience yet so entertaining! il pasto è servito buon appetito!</p>
           <a  href="/menuI" type="button" id="button" class="btn btn-primary"  data-backdrop='static' data-keyboard='false'>
            consulter
        </a>
          <div style="width:600px;"> 
          <!-- Modal -->
          

            </div>
         </div>
       </div>
     </div>

       <div class="col-md-4 col-sm-6 col-">
       <div class="card shadow" style="width: 18rem;">
         <div class="inner">
          <img class="card-img-top" src="assets/img/images (5).jpeg" alt="Card image cap">
         </div>

         <div class="card-body">
           <h5 class="card-title">Asian Food </h5>
           <p class="card-text" style="font-size:12px">Oriental Garden: The asian cuisine 
            Create a link with nature.Transcend with dishes full of flavors, natural ingredients,healthy components and a little brush from the ocean. Salty sweet sour and savoring all in one plate.The asian defies the norm of one standard dish to create dichotomies and delicious conflicts on the tip of your tongue released perfectly by the interference of excellent sauces.맛있게 드세요
            请享用
           
      </p>
           <a  href="/menuA" type="button" id="button" class="btn btn-primary"  data-backdrop='static' data-keyboard='false'>
            consulter
        </a>
          <div style="width:600px;"> 
          <!-- Modal -->
          





            </div>



         </div>
       </div>
     </div>


    </div>

</div>


</div>


<div class="carousel-item">
    <div class="container">
        <div class="row">
       <div class="col-md-4">
         <div class="card shadow " style="width: 18rem;">
             <div class="inner"> 
             <img class="card-img-top" style="height: 170px;" src="assets/img/172529788_263322302158547_5830114650943138358_n.jpeg" alt="Card image cap">
             </div>
             <div class="card-body">
               <h5 class="card-title">Dessert</h5>
               <p class="card-text" style="font-size:12px">Save the best to the last! Nothing would top the list we are offering you of desserts from all over the word.Creamy, juicy, fruity, light,heavy,white,brown one layer or multilayer.Expect a sweet bomb to flourish in your mouth.We grant you the sweetest fairytale.Buy now ! And have your key for a little wonderland of  excitement</p>
               <a  href="/menuD" type="button" id="button" class="btn btn-primary"  data-backdrop='static' data-keyboard='false'>
                consulter
            </a>
              <div style="width:600px;"> 
              <!-- Modal -->
             


                </div>
             </div>
           </div>
         </div>
         <div class="col-md-4">
           <div class="card shadow" style="width: 18rem;">
             <div class="inner">
             <img class="card-img-top" src="assets/img/images (3).jpeg" alt="Card image cap">
         </div>
             <div class="card-body">
               <h5 class="card-title">French Food</h5>
               <p class="card-text" style="font-size:12px">The French Delight:
                Where you get to be in touch with classics and lenghty varied meals From lyonnaise cuisine a blast of a variety of animals mainly chicken and duck to the provencal cuisine which is more of Mediterranean featuring fish vegetables and herbs. Not to forget the normady cuisine a portion of the ocean an excellent variety of seafood and shellfish. Bon appétit les amis!</p>
               <a  href="/menuF" type="button" id="button" class="btn btn-primary"  data-backdrop='static' data-keyboard='false'>
                consulter
            </a>
              <div style="width:600px;"> 
              <!-- Modal -->
              



                </div>
             </div>
           </div>
         </div>
          


        </div>

   </div>
    

  </div>   




</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>

</div>








<router-outlet></router-outlet>




