<div class="m" onclick="hey()" >
<nav class="navbar navbar-expand-lg  bg-dark justify-content-sm-start fixed-top  navbar-dark"   >
      <div class="container-fluid">
        <a class="navbar-brand order-0 order-lg-0 ml-lg-0 mr-2 mr-auto" id="title" href="#">FOODY</a>
        <button class="navbar-toggler align-self-start" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse p-3 p-lg-0 mt-5 mt-lg-0 d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end mobileMenu onRight" id="navbarSupportedContent">
          <ul class="navbar-nav align-self-stretch">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about" >About Us </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/login"  > Menu </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/signup" >Sign Up </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/login']" >Login </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/contact"> contact <svg id="con" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                </svg></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 align-self-stretch">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              <svg id="con" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
            <app-social-mobile></app-social-mobile>
          </form>
          
        </div>
      </div>
    </nav>
   
    <script src="src/index.js"></script>
    
  </div>