<html>
<body>
<div class="container" style="padding-top:100px; ">
   <div class="d-flex justify-content-center h-100">
       <div class="card"  >
           <div class="card-header">
               <h3>SIGN UP</h3>
              
           </div>
           <div class="card-body" >
               <form>
                   <div class="input-group form-group">
                       <div class="input-group-prepend">
                           <span class="input-group-text"><i class="fas fa-user"></i></span>
                       </div>
                       <input type="text" class="form-control" placeholder="username" id="nom" required>
                       <p class="error-message"></p>
                      
                   </div>
                   <div class="input-group form-group">
                       <div class="input-group-prepend">
                           <span class="input-group-text"><i class="fas fa-key"></i></span>
                       </div>
                       <input type="email" class="form-control" placeholder="e-mail" id="email" required>
                       <p class="error-message"></p>
                   </div>
                   <div class="input-group form-group">
                       <div class="input-group-prepend">
                           <span class="input-group-text"><i class="fas fa-key"></i></span>
                       </div>
                       <input type="password" class="form-control" placeholder="password" id="pwd1" required>
                       <p class="error-message"></p>
                      
                   </div>
                   <div class="input-group form-group">
                       <div class="input-group-prepend">
                           <span class="input-group-text"><i class="fas fa-key"></i></span>
                       </div>
                       <input type="password" class="form-control" placeholder="repeat your password" id="pw"required>
                       <p class="error-message"></p>
                   </div>
                     <br>       
                   
                <br>


                   <div class="row align-items-center remember">
                       <input type="checkbox" required>I agree all statement in terms of services
                         
                    </div>
                    <div class="card-footer"><button class="btn btn-lg btn-primary btn-block f2" type="submit" (click)= "signClick()">Sign up</button></div>
                    
                    
                
               </form>
           </div>
           
       </div>
   </div>
</div>
</body>
</html>


