<div  style=" width: 100%; height: auto; background-image: url('/assets/img/152379055_2871575143170110_3492477123743600273_n (3)_auto_x2_colored_toned (1).jpg');
    background-size: 100% 100%">
      <button onclick="window.location.href='/page2'">ajouter</button>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-top: 450px ; padding-bottom: 80px; padding-left: 10px; padding-right: 2px; ">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
     
          <div class="col-md-4 col-sm-6"  >
          <div class="card shadow" style="width: 18rem;">
              <div class="inner"> 
              <img class="card-img-top" src="/Users/imen/Desktop/projet_web 5/image/download.jpeg" alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Trigger the modal with a button -->
                <a href="#" class="btn btn-primary btn-success col-md-4 a"  >supprimer</a>
                <a href="#" class="btn btn-primary btn-success col-md-4 a"  >modifier</a>
  <!-- Button trigger modal -->


</div>
</div>
</div>
        
         <div class="col-md-4 col-sm-6 col-">
           <div class="card shadow" style="width: 18rem;">
             <div class="inner">
             <img class="card-img-top" src="/Users/imen/Desktop/projet_web 5/image/download.jpeg" alt="Card image cap">
         </div>
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="#" class="btn btn-primary btn-success col-md-4 a"  >supprimer</a>
                <a href="#" class="btn btn-primary btn-success col-md-4 a"  >modifier</a>
             </div>
           </div>
         </div>

           <div class="col-md-4 col-sm-6 col-">
           <div class="card shadow" style="width: 18rem;">
             <div class="inner">
              <img class="card-img-top" src="/Users/imen/Desktop/projet_web 5/image/download.jpeg" alt="Card image cap">
             </div>

             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="#" class="btn btn-primary btn-success col-md-4 a"  >supprimer</a>
                <a href="#" class="btn btn-primary btn-success col-md-4 a"  >modifier</a>
             </div>
           </div>
         </div>


        </div>

   </div>
    

  </div>
  
  
    <div class="carousel-item">
        <div class="container">
            <div class="row">
           <div class="col-md-4">
             <div class="card shadow " style="width: 18rem;">
                 <div class="inner"> 
                 <img class="card-img-top" src="..." alt="Card image cap">
                 </div>
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <a href="#" class="btn btn-primary btn-success col-md-4 a"  >supprimer</a>
                <a href="#" class="btn btn-primary btn-success col-md-4 a"  >modifier</a>
                 </div>
               </div>
             </div>
             <div class="col-md-4">
               <div class="card shadow" style="width: 18rem;">
                 <div class="inner">
                 <img class="card-img-top" src="..." alt="Card image cap">
             </div>
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <a href="#" class="btn btn-primary btn-success col-md-4 a"  >supprimer</a>
                <a href="#" class="btn btn-primary btn-success col-md-4 a"  >modifier</a>
                 </div>
               </div>
             </div>
               <div class="col-md-4">
               <div class="card shadow" style="width: 18rem;">
                 <div class="inner">
                  <img class="card-img-top" src="..." alt="Card image cap">
                 </div>
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <a href="#" class="btn btn-primary btn-success col-md-4 a"  >supprimer</a>
                <a href="#" class="btn btn-primary btn-success col-md-4 a"  >modifier</a>
                 </div>
               </div>
             </div>


            </div>

       </div>
        
    
      </div>   
 


    <div class="carousel-item">
        <div class="container">
            <div class="row">
           <div class=col-md-4>
             <div class="card shadow " style="width: 18rem;">
                 <div class="inner"> 
                 <img class="card-img-top" src="..." alt="Card image cap">
                 </div>
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <a href="#" class="btn btn-primary btn-success col-md-4 a"  >supprimer</a>
                <a href="#" class="btn btn-primary btn-success col-md-4 a"  >modifier</a>
                 </div>
               </div>
             </div>
             <div class=col-md-4>
               <div class="card shadow" style="width: 18rem;">
                 <div class="inner">
                 <img class="card-img-top" src="..." alt="Card image cap">
             </div>
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <a href="#" class="btn btn-primary btn-success col-md-4 a"  >supprimer</a>
                <a href="#" class="btn btn-primary btn-success col-md-4 a"  >modifier</a>
                 </div>
               </div>
             </div>
               <div class=col-md-4>
               <div class="card shadow" style="width: 18rem;">
                 <div class="inner">
                  <img class="card-img-top" src="..." alt="Card image cap">
                 </div>
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <a href="#" class="btn btn-primary btn-success col-md-4 a"  >supprimer</a>
                   <a href="#" class="btn btn-primary btn-success col-md-4 a"  >modifier</a>
                 </div>
               </div>
             </div>


            </div>

       </div>
        
    
      </div>
      
  
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

</div>

